<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="page-header">
        {% if %}
            <h1> Welcome {{ request.user }}</h1>
            {% for question in question %}
                {{ question.title }}
                {% for answer in answer %}

                    {{ answer.title }}
                    {{ answer.title }}
                    {{ answer.title }}
                    {{ answer.title }}

                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>


</body>
</html>